__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/
dist/
build/
*.pyc
data/raw/
data/brats/
*.nii
*.nii.gz
*.dcm
*.tar
*.zip
*.pth
*.ckpt
*.pt
checkpoints/
logs/*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
*.ipynb
.env
*.key
"archive (7)/"
